{
    "timeout": 10,
    "source": {
        "directories": [
            "src"
        ],
        "excludes": [
            "ComplianceTester/ComplianceTester.php"
        ]
    },
    "logs": {
        "text": "build\/infection.log"
    },
    "mutators": {
        "@default": true
    },
    "initialTestsPhpOptions": "-dzend_extension=xdebug.so -dxdebug.mode=coverage"
}
