<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    cacheResultFile="build/phpunit.result.cache"
    colors="true"
    verbose="true"
    bootstrap="tests/bootstrap.php">
    <testsuites>
        <testsuite name="Default">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">./src/</directory>
            <exclude>
                <directory suffix=".php">./src/ComplianceTester</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
